* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	color: rgb(255, 255, 255);
}

h1 {
	font-size: 300%;
	opacity: 1;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-image: url('https://picsum.photos/1600/1050');
	background-size: cover;
	background-position: center;
}

.weather-info {
	height: auto;
	max-width: 700px;
	padding: 5%;
	border-radius: 10px;
	background: rgb(90, 104, 116);
	box-shadow: 0 0 5px rgba(90, 104, 116, 0.7);
	transition: opacity 0.5s;
	opacity: 0.9;
}

.weather-info__search-view {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 200px;
}

.weather-info__search-view label {
	font-size: 200%;
}

.weather-info__search-view input {
	padding: 0.2em;
	font-size: 20px;
}

.weather-info__search-view button {
	font-size: 18px;
	padding: 8px 40px;
	border: 3px solid rgb(255, 255, 255);
	border-radius: 5px;
	background: none;
	color: white;
	box-shadow: 0 0 3px rgba(255, 255, 255, 0.6);
	cursor: pointer;
	transition: all 0.4s;

	&:hover {
		background-color: aliceblue;
		color: black;
		border: 3px solid rgb(0, 0, 0);
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
	}
}

.weather-info__forecast-view {
	display: none;
}

.weather-info__city {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.weather-info__btn-return {
	padding: 5px 25px;
	border: 3px solid rgb(255, 255, 255);
	border-radius: 5px;
	color: white;
	background: none;
	box-shadow: 0 0 3px rgba(255, 254, 254, 0.6);
	cursor: pointer;
	transition: all 0.4s;

	&:hover {
		background-color: aliceblue;
		color: black;
		border: 3px solid rgb(0, 0, 0);
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
	}
}
